.classpath
.DS_Store
.gradle
.idea
.project
assets
CREDITS-fml.txt
eclipse
gradle
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
forge-1.7.10-10.13.0.1180-changelog.txt
forge-1.7.10-10.13.0.1180-src-eflux.iml
forge-1.7.10-10.13.0.1180-src.iml
forge-1.7.10-10.13.0.1180-src.ipr
forge-1.7.10-10.13.0.1180-src.iws
README.txt
.settings
out